html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #FFF;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h3 {
    font-size: 3rem;
}



.wrapper {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

ul {
    margin: 0;
}