section.bio {
    min-height: 80vh;
    height: 100%;
    background-color: #faf0e6;
    overflow-x: hidden;
    // making the section position:relative and the child div (flex-container wrapper) absolute, so that 100%height will work on the div. Maybe will cause issues later?? Making note so I remember what I did
    position: relative;

    .bio-flex-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        padding: 50px 0 150px 0;

        // position: absolute;
        height: 100%;
        width: 100%;
        gap: 30px;

        // SIZING OF CHILD CONTAINERS
        .bio-text,
        .dynamic-image-box {
            width: 50%;
            img {
                width: 100%;
            }
        }

        .bio-text {
            margin-top: 30px;
            font-size: 1.8rem;
            line-height: 3.4rem;
            // cursor: $eyes;

            p {
                margin: 1.8rem 0;
            }

            span.bio-hover {
                font-style:italic;
                border-bottom: 2px dotted lightslategray;
                // font-weight: 600;
                cursor: $eyes;
            }
        }

        .dynamic-image-box {
            margin: 50px 0 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background: rgba(216, 214, 214, 0.3);

            .fade-out {
                animation: fade-out .5s forwards;
            }

            .fade-in {
                animation: fade-in .5s forwards;
            }


            img {
                padding: 80px 80px 15px 80px;
                opacity: 1;
                object-fit: cover;
            }

            figcaption {
                font-size: 1.6rem;
                padding-bottom: 50px;
            }
        }

    }


    .marquee {
        font-size: 200px;
        font-weight: 700;
        position: absolute;
        top: 0;

        $vw: 80vw;

        span {
            display: inline-block;
            white-space: nowrap;
            color: #f7eadc;
            width: $vw;
            text-shadow: $vw 0 currentColor,
            calc($vw * 2) 0 currentColor,
            calc($vw * 3) 0 currentColor,
            calc($vw * 4) 0 currentColor;

            will-change: transform;
            animation: marquee 15s linear infinite;

        }
    }
}


