@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,500&display=swap');


$primary-font: 'Montserrat', 'Helvetica', sans-serif;
$secondary-font: 'Playfair Display', serif;

// FONT COLOURS
$black: #333333;

// PAGE COLOURS
// $background1: #000;
// $background2: #000;
// $text1: #000;
// $text2: #000;
// $accent1: #000;
// $accent2: #000;

$eyes: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>👀</text></svg>"), auto;