@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,500&family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 2rem;
}
.skip-link:focus {
  left: 5px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: #faf0e6;
  color: #333333;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  color: #333333;
}

h2 {
  font-size: 3rem;
}

section h2 {
  border-bottom: 2px solid #333333;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

h3 {
  font-size: 2.6rem;
}

p, a {
  font-size: 1.8rem;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

::-moz-selection {
  background-color: yellow;
}

::selection {
  background-color: yellow;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

.underline {
  display: inline-block;
  position: relative;
  color: #333333;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333333;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.dotted {
  border-bottom: 2px dotted #333333;
}

.menu-label {
  font-size: 2.2rem;
  position: relative;
  bottom: 5px;
}

label.nav-toggle {
  background: none;
  border: none;
  padding: 10px 40px 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 35;
  cursor: pointer;
  color: #333333;
}
label.nav-toggle i {
  font-size: 30px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
label.nav-toggle:hover, label.nav-toggle:focus {
  color: #d3766d;
}

input[type=checkbox]:checked + label i.fa-chevron-right {
  -webkit-transform: translateX(-19px);
          transform: translateX(-19px);
}
input[type=checkbox]:checked + label i.fa-chevron-left {
  -webkit-transform: translateX(19px);
          transform: translateX(19px);
}
input[type=checkbox]:checked + label span.menu-label {
  display: none;
}

input[type=checkbox]:checked ~ nav {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.hide-check {
  display: none;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #F5F5F5;
  border-bottom: 2px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 30;
}
nav ul.nav-links {
  opacity: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
nav ul.nav-links li a {
  padding: 5px 10px;
}
nav ul.nav-links ul.sub-menu {
  display: none;
}

header {
  height: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}
header .left {
  text-align: right;
  margin-right: 30px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}
header .right {
  text-align: left;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
header h1, header h2 {
  margin: 0;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  color: #333333;
  position: relative;
  display: inline-block;
}

.block-reveal-first span {
  opacity: 0;
  -webkit-animation: appear-text 0.0001s linear forwards;
          animation: appear-text 0.0001s linear forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.block-reveal-first:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #333333;
  -webkit-animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.block-reveal-second {
  font-size: 40px;
  margin: 10px 0 0 40px;
}
.block-reveal-second span {
  opacity: 0;
  -webkit-animation: appear-text 0.0001s linear forwards;
          animation: appear-text 0.0001s linear forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.block-reveal-second:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #333333;
  -webkit-animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.vertical-line {
  height: 0%;
  border-left: 3px solid #333333;
  -webkit-animation: line-up 1s ease-in-out forwards, line-pulse 2s ease-in-out infinite alternate;
          animation: line-up 1s ease-in-out forwards, line-pulse 2s ease-in-out infinite alternate;
  -webkit-animation-delay: 1.5s, 3s;
          animation-delay: 1.5s, 3s;
}

p.header-blurb {
  font-size: 5rem;
  line-height: calc(5rem + 1.5vw);
  margin-left: 30px;
  opacity: 0;
  -webkit-animation: fade-in 1.2s linear forwards;
          animation: fade-in 1.2s linear forwards;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}
p.header-blurb span.emphasize {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
}
p.header-blurb span.dot-underline {
  border-bottom: 2px dotted white;
}
p.header-blurb span.text-expand {
  white-space: nowrap;
  display: inline-block;
  -webkit-animation: text-expand 1.5s ease-in-out infinite alternate;
          animation: text-expand 1.5s ease-in-out infinite alternate;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section.bio {
  min-height: 80vh;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
section.bio .bio-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 50px 0 150px 0;
  height: 100%;
  width: 100%;
  gap: 30px;
}
section.bio .bio-flex-container .bio-text,
section.bio .bio-flex-container .dynamic-image-box {
  width: 50%;
}
section.bio .bio-flex-container .bio-text img,
section.bio .bio-flex-container .dynamic-image-box img {
  width: 100%;
}
section.bio .bio-flex-container .bio-text {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 3.4rem;
}
section.bio .bio-flex-container .bio-text p {
  margin: 1.8rem 0;
}
section.bio .bio-flex-container .bio-text span.bio-hover {
  font-style: italic;
  border-bottom: 2px dotted lightslategray;
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>👀</text></svg>"), auto;
}
section.bio .bio-flex-container .dynamic-image-box {
  margin: 50px 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(216, 214, 214, 0.3);
}
section.bio .bio-flex-container .dynamic-image-box .fade-out {
  -webkit-animation: fade-out 0.5s forwards;
          animation: fade-out 0.5s forwards;
}
section.bio .bio-flex-container .dynamic-image-box .fade-in {
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
}
section.bio .bio-flex-container .dynamic-image-box img {
  padding: 80px 80px 15px 80px;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
section.bio .bio-flex-container .dynamic-image-box figcaption {
  font-size: 1.6rem;
  padding-bottom: 50px;
}
section.bio .marquee {
  font-size: 200px;
  font-weight: 700;
  position: absolute;
  top: 0;
}
section.bio .marquee span {
  display: inline-block;
  white-space: nowrap;
  color: #f7eadc;
  width: 80vw;
  text-shadow: 80vw 0 currentColor, 160vw 0 currentColor, 240vw 0 currentColor, 320vw 0 currentColor;
  will-change: transform;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

section.stack {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
section.stack .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.stack .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 60%;
  height: 100%;
  z-index: 10;
}
section.stack .text-box h2 {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
section.stack .text-box p {
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
}
section.stack .text-box .ellipse {
  opacity: 0;
  -webkit-animation: blink 1s infinite forwards;
          animation: blink 1s infinite forwards;
}
section.stack .text-box .ellipse.one {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
section.stack .text-box .ellipse.two {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
section.stack .text-box .ellipse.three {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
section.stack i {
  font-size: 80px;
  position: absolute;
  z-index: 1;
  border: 1px solid;
  padding: 20px;
  border-radius: 50%;
  color: #a97b63;
}
section.stack .icon3, section.stack .icon5, section.stack .icon7 {
  padding: 40px;
}
section.stack .icon9 {
  font-size: 50px;
}
section.stack .icon1 {
  top: 10%;
  left: 3%;
  -webkit-animation: circle1 20s linear infinite;
          animation: circle1 20s linear infinite;
}
section.stack .icon2 {
  top: 35%;
  left: 10%;
  -webkit-animation: circle2 35s linear infinite;
          animation: circle2 35s linear infinite;
}
section.stack .icon3 {
  top: 5%;
  left: 40%;
  -webkit-animation: circle3 25s linear infinite;
          animation: circle3 25s linear infinite;
}
section.stack .icon4 {
  top: 10%;
  left: 80%;
  -webkit-animation: circle4 20s linear infinite;
          animation: circle4 20s linear infinite;
}
section.stack .icon5 {
  top: 70%;
  left: 5%;
  -webkit-animation: circle5 50s linear infinite;
          animation: circle5 50s linear infinite;
}
section.stack .icon6 {
  top: 40%;
  left: 90%;
  -webkit-animation: circle6 30s linear infinite;
          animation: circle6 30s linear infinite;
}
section.stack .icon7 {
  top: 70%;
  left: 70%;
  -webkit-animation: circle7 70s linear infinite;
          animation: circle7 70s linear infinite;
}
section.stack .icon8 {
  top: 75%;
  left: 45%;
  -webkit-animation: circle8 30s linear infinite;
          animation: circle8 30s linear infinite;
}
section.stack .icon9 {
  top: 20%;
  left: 60%;
  -webkit-animation: circle9 30s linear infinite;
          animation: circle9 30s linear infinite;
}
section.stack .icon10 {
  top: 70%;
  left: 85%;
  -webkit-animation: circle1 20s linear infinite;
          animation: circle1 20s linear infinite;
}
section.stack .icon11 {
  top: 80%;
  left: 30%;
  -webkit-animation: circle4 25s linear infinite;
          animation: circle4 25s linear infinite;
}
section.stack h2 {
  border-bottom: 2px solid #3D3D3D;
}
section.stack ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #a97b63;
}
section.stack ul.tools li {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  padding: 20px;
}
section.stack ul.tools li i {
  width: 100%;
  font-size: 8rem;
}

section.projects {
  padding: 60px 0;
}
section.projects ul.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}
section.projects ul.projects-container li {
  position: relative;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section.projects ul.projects-container li img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
section.projects ul.projects-container li:hover > .overlay, section.projects ul.projects-container li:focus > .overlay {
  opacity: 1;
}
section.projects ul.projects-container li:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.projects ul.projects-container li .overlay {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  background: rgba(230, 230, 230, 0.95);
  top: 0;
  left: 0;
  padding: 5px 15px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  font-family: Helvetica Neue, "Roboto", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.projects ul.projects-container li .overlay.show {
  opacity: 1;
  z-index: unset;
}
section.projects ul.projects-container li .overlay h3 {
  font-family: Helvetica Neue, "Roboto", Arial, sans-serif;
  font-weight: 400;
  border-bottom: 2px solid black;
  padding: 5px 0;
}
section.projects ul.projects-container li .overlay p {
  padding: 0 15px;
  line-height: 2.5rem;
}
section.projects ul.projects-container li .overlay a {
  margin: 10px 0 5px 0;
}
section.projects ul.projects-container li .overlay .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid black;
}
section.projects ul.projects-container li .overlay .tools-used p {
  padding: 10px 0 0 0;
}
section.projects ul.projects-container li .overlay .tools-used i {
  font-size: 2.5rem;
}
section.projects ul.projects-container li .overlay .site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
section.projects h2 .mobile-hint {
  opacity: 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: italic;
  color: #faf0e6;
}

section.contact {
  padding: 100px 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .contact-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 10px;
}
section.contact .contact-flex-container > * {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
section.contact .contact-flex-container .contact-content {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
section.contact .contact-flex-container .contact-content ul.responses {
  position: absolute;
  bottom: 25%;
  width: 100%;
  height: 60%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 2rem;
}
section.contact .contact-flex-container .contact-content ul.responses.show-responses {
  opacity: 1;
}
section.contact .contact-flex-container .contact-content ul.responses li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #333333;
  background-color: #333333;
  background: #f8f5f2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in, -webkit-transform 0.3s ease-in-out;
}
section.contact .contact-flex-container .contact-content ul.responses li:hover, section.contact .contact-flex-container .contact-content ul.responses li:focus {
  -webkit-transform: translateY(-20px) scale(1.3);
          transform: translateY(-20px) scale(1.3);
  background-color: #d1ae9b;
}
section.contact .contact-flex-container .contact-content ul.responses li:active {
  -webkit-transform: translateY(-25px) scale(1.4);
          transform: translateY(-25px) scale(1.4);
}
section.contact .contact-flex-container .contact-content ul.responses button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: #333333;
}
section.contact .contact-flex-container .contact-content .soupcan-container {
  width: 75%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  cursor: pointer;
  z-index: 10;
}
section.contact .contact-flex-container .contact-content .soupcan-container.flip-it {
  -webkit-transform: translateY(-90%) translateX(-50%) rotate(145deg);
          transform: translateY(-90%) translateX(-50%) rotate(145deg);
}
section.contact .contact-flex-container .contact-content .soupcan-container img.soup-can {
  width: 100%;
  -webkit-animation: wiggle 2.5s infinite;
          animation: wiggle 2.5s infinite;
}
section.contact .contact-flex-container .contact-content .social-links {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 2px solid #333333;
  padding: 20px 0 0 0;
}
section.contact .contact-flex-container .contact-content .social-links a:hover > i, section.contact .contact-flex-container .contact-content .social-links a:focus > i {
  color: #d3766d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.contact .contact-flex-container .contact-content .social-links i {
  font-size: 5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
section.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #333333;
}
section.contact form input, section.contact form textarea {
  font-family: Helvetica Neue, "Roboto", Arial, sans-serif;
  border: none;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 10px;
}
section.contact form input {
  border-bottom: 2px solid #333333;
  background-color: #f8f5f2;
}
section.contact form textarea {
  height: 30vh;
  background-color: #f8f5f2;
  resize: none;
  color: #333333;
}
section.contact form button {
  border: none;
  background: #333333;
  color: #faf0e6;
  width: 100%;
  font-size: 2rem;
  padding: 20px;
  border: 3px solid #333333;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
section.contact form button:hover, section.contact form button:focus {
  background: #faf0e6;
  color: #333333;
}

footer {
  background: #333333;
  text-align: center;
  padding: 5px 0;
}
footer p {
  color: white;
  font-size: 1.6rem;
}

@-webkit-keyframes text-expand {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 1px;
  }
}

@keyframes text-expand {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@-webkit-keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@-webkit-keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes line-up {
  0% {
    height: 0%;
  }
  100% {
    height: 75%;
  }
}
@keyframes line-up {
  0% {
    height: 0%;
  }
  100% {
    height: 75%;
  }
}
@-webkit-keyframes line-pulse {
  0% {
    height: 75%;
  }
  100% {
    height: 80%;
  }
}
@keyframes line-pulse {
  0% {
    height: 75%;
  }
  100% {
    height: 80%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes circle1 {
  from {
    -webkit-transform: rotate(0deg) translate(-30px) rotate(0deg);
            transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-30px) rotate(-360deg);
            transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle1 {
  from {
    -webkit-transform: rotate(0deg) translate(-30px) rotate(0deg);
            transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-30px) rotate(-360deg);
            transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@-webkit-keyframes circle2 {
  from {
    -webkit-transform: rotate(360deg) translate(-30px) rotate(-360deg);
            transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-30px) rotate(0deg);
            transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}
@keyframes circle2 {
  from {
    -webkit-transform: rotate(360deg) translate(-30px) rotate(-360deg);
            transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-30px) rotate(0deg);
            transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}
@-webkit-keyframes circle3 {
  from {
    -webkit-transform: rotate(360deg) translate(-60px) rotate(-360deg);
            transform: rotate(360deg) translate(-60px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-60px) rotate(0deg);
            transform: rotate(0deg) translate(-60px) rotate(0deg);
  }
}
@keyframes circle3 {
  from {
    -webkit-transform: rotate(360deg) translate(-60px) rotate(-360deg);
            transform: rotate(360deg) translate(-60px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-60px) rotate(0deg);
            transform: rotate(0deg) translate(-60px) rotate(0deg);
  }
}
@-webkit-keyframes circle4 {
  from {
    -webkit-transform: rotate(360deg) translate(-40px) rotate(-360deg);
            transform: rotate(360deg) translate(-40px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-40px) rotate(0deg);
            transform: rotate(0deg) translate(-40px) rotate(0deg);
  }
}
@keyframes circle4 {
  from {
    -webkit-transform: rotate(360deg) translate(-40px) rotate(-360deg);
            transform: rotate(360deg) translate(-40px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-40px) rotate(0deg);
            transform: rotate(0deg) translate(-40px) rotate(0deg);
  }
}
@-webkit-keyframes circle5 {
  from {
    -webkit-transform: rotate(0deg) translate(-50px) rotate(0deg);
            transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-50px) rotate(-360deg);
            transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}
@keyframes circle5 {
  from {
    -webkit-transform: rotate(0deg) translate(-50px) rotate(0deg);
            transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-50px) rotate(-360deg);
            transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}
@-webkit-keyframes circle6 {
  from {
    -webkit-transform: rotate(0deg) translate(-40px) rotate(0deg);
            transform: rotate(0deg) translate(-40px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-40px) rotate(-360deg);
            transform: rotate(360deg) translate(-40px) rotate(-360deg);
  }
}
@keyframes circle6 {
  from {
    -webkit-transform: rotate(0deg) translate(-40px) rotate(0deg);
            transform: rotate(0deg) translate(-40px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-40px) rotate(-360deg);
            transform: rotate(360deg) translate(-40px) rotate(-360deg);
  }
}
@-webkit-keyframes circle7 {
  from {
    -webkit-transform: rotate(360deg) translate(-40px) rotate(-360deg);
            transform: rotate(360deg) translate(-40px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-40px) rotate(0deg);
            transform: rotate(0deg) translate(-40px) rotate(0deg);
  }
}
@keyframes circle7 {
  from {
    -webkit-transform: rotate(360deg) translate(-40px) rotate(-360deg);
            transform: rotate(360deg) translate(-40px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-40px) rotate(0deg);
            transform: rotate(0deg) translate(-40px) rotate(0deg);
  }
}
@-webkit-keyframes circle8 {
  from {
    -webkit-transform: rotate(0deg) translate(-30px) rotate(0deg);
            transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-30px) rotate(-360deg);
            transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle8 {
  from {
    -webkit-transform: rotate(0deg) translate(-30px) rotate(0deg);
            transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-30px) rotate(-360deg);
            transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@-webkit-keyframes circle9 {
  from {
    -webkit-transform: rotate(0deg) translate(-50px) rotate(0deg);
            transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-50px) rotate(-360deg);
            transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}
@keyframes circle9 {
  from {
    -webkit-transform: rotate(0deg) translate(-50px) rotate(0deg);
            transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-50px) rotate(-360deg);
            transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (prefers-reduced-motion) {
  .block-reveal-first span {
    opacity: 1;
    -webkit-animation: none;
            animation: none;
  }
  .block-reveal-first:after {
    display: none;
  }
  .block-reveal-second span {
    opacity: 1;
    -webkit-animation: none;
            animation: none;
  }
  .block-reveal-second:after {
    display: none;
  }
  .vertical-line {
    height: 75%;
    -webkit-animation: none;
            animation: none;
  }
  .stack .icon {
    -webkit-animation: none;
            animation: none;
  }
}
@media (max-width: 1080px) {
  header p.header-blurb {
    font-size: calc(1.6rem + 1vw);
    margin-right: 30px;
  }
  header .left h1 {
    font-size: unset;
  }
  header .left .xl {
    font-size: calc(2.5rem + 2vw);
  }
  header .left h2 {
    font-size: unset;
  }
  header .left h2 span {
    font-size: calc(2rem + 1vw);
  }
  section.bio .marquee {
    font-size: 170px;
  }
  section.bio .bio-flex-container .bio-text {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 60%;
            flex: 2 0 60%;
  }
  section.bio .bio-flex-container .dynamic-image-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 50%;
            flex: 0 2 50%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  section.bio .bio-flex-container .dynamic-image-box img {
    padding: 15px;
  }
  section.stack i {
    font-size: 40px;
  }
  section.stack .text-box {
    width: 50%;
  }
  section.projects ul.projects-container li .overlay p.description {
    font-size: 2rem;
    line-height: 4.5rem;
  }
}
@media (max-width: 800px) {
  label.nav-toggle {
    padding: 10px 5px;
  }
  section.bio .marquee {
    font-size: 115px;
  }
  section.bio .bio-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.bio .bio-flex-container .bio-text {
    width: 100%;
  }
  section.bio .bio-flex-container .dynamic-image-box {
    width: 60%;
  }
  section.projects h2 .mobile-hint {
    opacity: 1;
  }
  section.contact .contact-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.contact .contact-flex-container .contact-content {
    border-top: 2px solid #333333;
    padding-right: 0;
  }
  section.contact .contact-flex-container .contact-content p,
section.contact .contact-flex-container .contact-content .soupcan-container,
section.contact .contact-flex-container .contact-content .responses, section.contact .contact-flex-container .contact-content .show-responses {
    display: none;
    z-index: -1;
  }
  section.contact .contact-flex-container .contact-content .social-links {
    border: none;
  }
}
@media (max-width: 550px) {
  input[type=checkbox]:checked ~ nav {
    -webkit-transform: unset;
            transform: unset;
    height: 100%;
  }
  nav {
    height: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #faf0e6;
  }
  nav ul.nav-links {
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .vertical-line {
    display: none;
  }
  header .left {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
  header .left .xl {
    font-size: calc(3.5rem + 2vw);
  }
  header .right {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    height: 50%;
  }
  header .right p.header-blurb {
    text-align: center;
    font-size: 30px;
    margin: 5px 30px 50px 30px;
    padding-top: 30px;
    border-top: 3px solid black;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  section.bio .marquee {
    display: none;
  }
  section.stack i {
    -webkit-animation: none;
            animation: none;
    z-index: -1;
  }
  section.stack .text-box {
    width: 80%;
  }
  section.projects ul.projects-container li .overlay h3 {
    font-size: 1.8rem;
  }
  section.projects ul.projects-container li .overlay p.description {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 420px) {
  section.projects ul.projects-container li .overlay h3 {
    font-size: 1.8rem;
  }
  section.projects ul.projects-container li .overlay p.description {
    display: none;
  }
  section.projects ul.projects-container li .overlay .site-links {
    gap: 10px;
  }
  section.projects ul.projects-container li .overlay .tools-used i {
    font-size: 1.6rem;
  }
}
@media (max-width: 390px) {
  section.projects ul.projects-container li .overlay .site-links {
    gap: 15px;
  }
  section.projects ul.projects-container li .overlay .tools-used i {
    display: none;
  }
}